* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FDFBF9;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 150px;
}

.logo {
    font-size: 18px;
}

.nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.hero-top {
    display: flex;
    justify-content: space-between;
    padding: 40px 150px;
}

.hero-text h1 {
    font-size: 64px;
    line-height: 1.1;
    position: relative;
}

.balance {
    font-style: italic;
    color: #b8b0a4;
    font-weight: 300;
}

.subtext {
    position: absolute;
    left: 420px;
    top: 95px;
    font-size: 16px;
    line-height: 1.3;
}

.hero-cards {
    display: flex;
    gap: 20px;
}

.hero-cards img {
    width: 160px;
    height: 160px;
    border-radius: 20px;
    object-fit: cover;
}

.hero-main {
    width: 100%;
    height: 450px;
    background: url("images/main.svg") no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
}


.hero-overlay {
    padding-left: 150px;
}

.hero-overlay p {
    color: #fff;
    font-size: 26px;
    margin-bottom: 20px;
}

.hero-overlay button {
    background: #fff;
    border: none;
    padding: 12px 40px;
    border-radius: 30px;
    cursor: pointer;
}

.about {
    display: flex;
    justify-content: space-between;
    padding: 60px 150px;
}

.about-left {
    max-width: 520px;
}

.about-tag {
    color: #b8b0a4;
    font-size: 14px;
}

.about-left h2 {
    margin-top: 20px;
    font-size: 32px;
}

.about-left h3 {
    font-style: italic;
    color: #b8b0a4;
    font-weight: 300;
    margin: 10px 0 20px;
}

.about-desc {
    color: #555;
    margin-bottom: 25px;
}

.btn-dark {
    background: #a89f94;
    border: none;
    padding: 12px 40px;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
}

.about-right {
    width: 650px;
}

.item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.item img {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    object-fit: cover;
}

.item h4 {
    font-size: 16px;
}

.item p {
    font-size: 13px;
    color: #777;
}